.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/gg.jpg");
  background-position: 50% 0%;
}

.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-family: Aladin;
  font-weight: 700;
  margin: 243px 722px 0 81px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Akronim;
  font-size: 4.5rem;
  margin: -1px auto 0 81px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Baloo Bhai 2";
  text-transform: uppercase;
  font-weight: 800;
  margin: 51px auto 0 81px;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 89px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 602px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 202px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-2 .u-sheet-1 {
  min-height: 649px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  width: 240px;
  font-family: "Baloo Bhai 2";
  font-size: 1.75rem;
  font-weight: 800;
  background-image: none;
  margin: 40px auto 0;
}

.u-section-2 .u-line-1 {
  height: 6px;
  transform-origin: center top 0px;
  width: 240px;
  margin: 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-2 .u-container-layout-1 {
  padding: 13px 0;
}

.u-section-2 .u-image-1 {
  height: 177px;
  width: 409px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 17px auto 0 12px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 115px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  font-size: 1.75rem;
  margin: 34px 44px 0 16px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Baloo Bhai 2";
  font-weight: 500;
  font-size: 1.125rem;
  margin: -22px 0 0 16px;
}

.u-section-2 .u-text-4 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  font-size: 1.75rem;
  margin: 0 452px 0 27px;
}

.u-section-2 .u-image-2 {
  height: 177px;
  width: 413px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -20px 12px 0 auto;
}

.u-section-2 .u-text-5 {
  font-family: "Baloo Bhai 2";
  font-weight: 500;
  font-size: 1.125rem;
  margin: -135px 452px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 15px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-2 .u-image-1 {
    height: 156px;
    width: 313px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 95px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 127px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 360px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -304px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 59px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -20px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -135px;
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 342px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -286px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 293px;
  }

  .u-section-2 .u-image-1 {
    height: 117px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-line-1 {
    margin-top: 418px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -363px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 184px;
  }

  .u-section-2 .u-image-1 {
    height: 74px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    height: 146px;
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: -104px;
    margin-bottom: 0;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-sheet-1 {
  min-height: 1005px;
}

.u-section-3 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px auto 0;
}

.u-section-3 .u-line-1 {
  width: 165px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-3 .u-products-1 {
  margin-top: 54px;
  margin-bottom: 10px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 866px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-line-2 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-1 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-1 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-2 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-3 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-4 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-line-3 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-2 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-2 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-5 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-6 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-7 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-line-4 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-3 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-3 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-8 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-9 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-10 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

.u-section-3 .u-container-layout-7 {
  padding: 0;
}

.u-section-3 .u-line-5 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-4 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-4 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-11 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-12 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-13 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

.u-section-3 .u-container-layout-9 {
  padding: 0;
}

.u-section-3 .u-line-6 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-5 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-5 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-14 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-15 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-16 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0;
}

.u-section-3 .u-line-7 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-image-6 {
  height: 241px;
  width: 241px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 0;
}

.u-section-3 .u-group-6 {
  width: 273px;
  min-height: 50px;
  background-size: auto;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 21px auto 0;
}

.u-section-3 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-17 {
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 12px 15px 0;
}

.u-section-3 .u-text-18 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: 13px 105px 0 auto;
}

.u-section-3 .u-text-19 {
  font-family: "Baloo Bhai 2";
  font-size: 1.4375rem;
  font-weight: 700;
  margin: -27px auto 0 114px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 1028px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 20px 15px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 20px 15px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 20px 15px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 20px 15px;
  }

  .u-section-3 .u-group-5 {
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 20px 15px;
  }

  .u-section-3 .u-group-6 {
    height: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding: 20px 15px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    margin-left: 72px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 72px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 72px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 72px;
  }

  .u-section-3 .u-text-16 {
    margin-left: 72px;
  }

  .u-section-3 .u-text-19 {
    margin-left: 72px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4,
.u-section-3 .u-image-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-4.u-image-4.u-image-4:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-4.u-image-4.u-image-4.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5,
.u-section-3 .u-image-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-5.u-image-5.u-image-5:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-5.u-image-5.u-image-5.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-6,
.u-section-3 .u-image-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-image-6.u-image-6.u-image-6:hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-6.u-image-6.u-image-6.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-group-2,
.u-section-3 .u-group-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-group-1,
.u-section-3 .u-group-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-group-3,
.u-section-3 .u-group-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-group-4,
.u-section-3 .u-group-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-group-5,
.u-section-3 .u-group-5:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-group-6,
.u-section-3 .u-group-6:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-container-layout.hover .u-section-3 .u-group-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 529px;
}

.u-section-4 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  margin: 40px auto 0;
}

.u-section-4 .u-line-1 {
  width: 170px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-4 .u-image-1 {
  width: 330px;
  height: 275px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 52px 16px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    margin-right: 10px;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 518px;
}

.u-section-5 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  margin: 40px auto 0;
}

.u-section-5 .u-line-1 {
  width: 150px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 26px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  transition-duration: 0.5s;
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none !important;
  margin: 62px auto 0 83px;
}

.u-section-5 .u-text-3 {
  font-family: "Baloo Bhai 2";
  transition-duration: 0.5s;
  font-size: 1rem;
  margin: 8px auto 0 83px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 309px;
  margin: 0 34px 0 19px;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-label-1 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-label-2 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-label-3 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  font-family: "Baloo Bhai 2";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-5 .u-text-1 {
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-3 {
    font-weight: normal;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-3.u-text-3.u-text-3:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-text-3.u-text-3.u-text-3.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}