 .u-section-1 {
  background-image: none;
  min-height: 815px;
}

.u-section-1 .u-image-1 {
  height: 813px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-family: "Baloo Bhai 2";
  letter-spacing: 0px;
  transition-duration: 0.5s;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  margin: -187px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 77px auto 0;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 365px;
  height: 365px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -553px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 754px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -60px;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: -141px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -508px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 1130px;
    height: 794px;
    margin-top: -20px;
    margin-right: auto;
    margin-left: calc(((100% - 720px) / 2) + -218px);
  }

  .u-section-1 .u-btn-1 {
    align-self: flex-end;
    margin-top: -208px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 57px;
  }

  .u-section-1 .u-image-2 {
    width: 330px;
    height: 330px;
    margin-top: -485px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-image-1 {
    height: 667px;
    width: 973px;
    margin-top: -9px;
    margin-left: -166px;
    margin-right: -166px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -169px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-image-2 {
    width: 282px;
    height: 282px;
    margin-top: -417px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 526px;
  }

  .u-section-1 .u-image-1 {
    height: 642px;
    width: 791px;
    margin-top: -51px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -132px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -207px;
    padding: 3px 16px 4px;
  }

  .u-section-1 .u-icon-1 {
    width: 23px;
    height: 23px;
    margin-top: 53px;
  }

  .u-section-1 .u-image-2 {
    width: 213px;
    height: 213px;
    margin-top: -342px;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-1 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-1 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  border-radius: 10px !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  border-radius: 10px !important;
}.u-section-2 .u-sheet-1 {
  min-height: 684px;
}

.u-section-2 .u-text-1 {
  transition-duration: 0.5s;
  width: 240px;
  font-family: "Baloo Bhai 2";
  font-size: 1.75rem;
  font-weight: 800;
  background-image: none;
  margin: 41px auto 0;
}

.u-section-2 .u-line-1 {
  height: 6px;
  transform-origin: center top 0px;
  width: 240px;
  margin: 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 278px;
  margin-top: 16px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 454px;
  height: 193px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 43px 29px 0 auto;
}

.u-section-2 .u-text-2 {
  font-family: "Baloo Bhai 2";
  font-weight: 500;
  font-size: 1.125rem;
  margin: -149px 526px 0 30px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 7px;
  margin-top: 19px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 287px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px 10px;
}

.u-section-2 .u-icon-1 {
  width: 128px;
  height: 128px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  margin: 12px 2px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px 10px;
}

.u-section-2 .u-icon-2 {
  width: 128px;
  height: 128px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  margin: 12px 2px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 10px 10px;
}

.u-section-2 .u-icon-3 {
  width: 128px;
  height: 128px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  margin: 12px 2px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 10px 10px;
}

.u-section-2 .u-icon-4 {
  width: 128px;
  height: 128px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 1px auto 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-family: "Baloo Bhai 2";
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  margin: 12px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-2 .u-image-1 {
    width: 335px;
    height: 194px;
    margin-top: 42px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 356px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 337px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 268px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -155px;
    margin-right: 304px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 663px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1402px;
  }

  .u-section-2 .u-group-1 {
    min-height: 349px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 333px;
    height: 226px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-2 .u-text-2 {
    width: 416px;
    margin: -20px auto -33px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
    margin-top: 16px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 902px;
  }

  .u-section-2 .u-icon-1 {
    width: 98px;
    height: 98px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-text-4 {
    width: 226px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-2 {
    width: 98px;
    height: 98px;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-text-6 {
    width: 226px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    width: 98px;
    height: 98px;
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-text-8 {
    width: 226px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-4 {
    width: 98px;
    height: 98px;
    margin-top: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-2 .u-text-10 {
    width: 226px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1412px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 33px;
    margin-top: 33px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 904px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-4 {
    width: 224px;
    margin-top: 3px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-6 {
    width: 224px;
    margin-top: 3px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-8 {
    width: 224px;
    margin-top: 3px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 5px;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-10 {
    width: 224px;
    margin-top: 3px;
  }
}

.u-section-2 .u-text-1,
.u-section-2 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
  stroke-width: 0px !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 1006px;
}

.u-section-3 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px auto 0;
}

.u-section-3 .u-line-1 {
  width: 165px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-3 .u-products-1 {
  width: 890px;
  margin: 20px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 866px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-line-2 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-line-3 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-line-4 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-line-5 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-container-layout-5 {
  padding: 0;
}

.u-section-3 .u-line-6 {
  left: 102px;
  top: 364px;
  position: absolute;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-line-7 {
  left: 102px;
  top: 364px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 794px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-products-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1028px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-products-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2335px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-products-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 2236px;
  }
}

.u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-16.u-block-5e7c-16.u-block-5e7c-16.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-5e7c-16:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5e7c-16 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-24.u-block-5e7c-24.u-block-5e7c-24.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-5e7c-24:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5e7c-24 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-32.u-block-5e7c-32.u-block-5e7c-32.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-5e7c-32:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5e7c-32 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-40.u-block-5e7c-40.u-block-5e7c-40.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-5e7c-40:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5e7c-40 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]).u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]):hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-48.u-block-5e7c-48.u-block-5e7c-48.hover {
  border-radius: 10px !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-5e7c-48:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-5e7c-48 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-5e7c-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-9:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5e7c-9:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-5e7c-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-5e7c-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-33:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5e7c-33:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-5e7c-33 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-5e7c-41:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-41:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5e7c-41:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-5e7c-41 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-block-5e7c-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-5e7c-49:not([data-block-selected]):not([data-cell-selected]):before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5e7c-49:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-container-layout.hover .u-block-5e7c-49 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 358px;
}

.u-section-4 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  margin: 41px auto 0;
}

.u-section-4 .u-line-1 {
  width: 170px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-4 .u-group-1 {
  min-height: 215px;
  width: 1140px;
  margin: 30px -14px 39px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 261px;
  height: 181px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 134px 0 auto;
}

.u-section-4 .u-text-2 {
  font-family: "Baloo Bhai 2";
  font-weight: 500;
  font-size: 1.125rem;
  margin: -135px 443px 0 114px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-group-1 {
    min-height: 263px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 29px;
    margin-right: 41px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -134px;
    margin-right: 331px;
    margin-left: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 42px;
  }

  .u-section-4 .u-group-1 {
    min-height: 226px;
    margin-top: 18px;
    margin-bottom: 49px;
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    width: 149px;
    margin-top: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -124px;
    margin-right: 199px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-4 .u-group-1 {
    min-height: 312px;
    margin-top: 23px;
    margin-bottom: 59px;
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    width: 165px;
    margin-top: 9px;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-4 .u-group-1 {
    min-height: 379px;
    margin-top: 22px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

.u-section-4 .u-text-1,
.u-section-4 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 518px;
}

.u-section-5 .u-text-1 {
  font-family: "Baloo Bhai 2";
  font-weight: 800;
  transition-duration: 0.5s;
  font-size: 1.75rem;
  margin: 40px auto 0;
}

.u-section-5 .u-line-1 {
  width: 150px;
  height: 6px;
  transform-origin: center top 0px;
  margin: -2px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 26px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: 61px auto 0 69px;
  padding: 0;
}

.u-section-5 .u-text-2 {
  transition-duration: 0.5s;
  font-family: "Baloo Bhai 2";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none !important;
  margin: -50px auto 0 133px;
}

.u-section-5 .u-text-3 {
  font-family: "Baloo Bhai 2";
  font-size: 1rem;
  font-weight: normal;
  margin: 8px auto 0 133px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-form-1 {
  height: 309px;
  margin: 0 34px 0 19px;
}

.u-section-5 .u-form-group-1 {
  width: 100%;
}

.u-section-5 .u-label-1 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-2 {
  width: 100%;
}

.u-section-5 .u-label-2 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-label-3 {
  font-family: "Baloo Bhai 2";
  font-size: 0.875rem;
  font-weight: normal;
}

.u-section-5 .u-form-group-4 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  border-style: none;
  font-family: "Baloo Bhai 2";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -49px;
  }

  .u-section-5 .u-text-3 {
    transition-duration: 0.5s;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-5 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 41px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 89px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-left: 89px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 53px;
  }

  .u-section-5 .u-line-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 17px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 128px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 9px;
    margin-left: 126px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 199px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 199px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 93px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 93px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 370px;
  }
}

.u-section-5 .u-text-1,
.u-section-5 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-1.u-text-1.u-text-1:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-text-1.u-text-1.u-text-1.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-2,
.u-section-5 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-text-2.u-text-2.u-text-2:hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-text-2.u-text-2.u-text-2.hover {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-5 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}::-webkit-scrollbar {
    width: 0.1rem;
    background: #000000;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background-color: #efaa31;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
} 