* {
    margin: 0;
    padding: 0;
    justify-content: center;
}

html {
    font-family: 'Baloo Bhai 2', cursive;
}

::-webkit-scrollbar {
    width: 0.1rem;
    background: #000000;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: #efaa31;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}

.navbar-top {
    background: transparent;
    display: flex;
    position: fixed;
    color: white;
    height: 80px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 200px;
}

nav ul li {
    display: inline-block;
    margin: 0 25px;
    list-style: none;
    font-weight: bold;
    font-size: 1.15rem
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #efaa31;
    transition: .3s;
}

.home {
    background-image: url("Assets\\imgs\\gg.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.logo {
    height: 142px;
    width: 186px;
    margin-top: 80px;
    margin-left: 200px;
}

.about {
    background-color: #ffffff;
    height: 80vh;
    width: 100%;
}

.about_img {
    height: 299px;
    width: 504px;
    object-fit: cover;
}

.content {
    display: flex;
    margin: 75px 200px 75px 200px;
    justify-content: space-between;
    align-items: center;
}

.heading1 {
    font-weight: bolder;
    font-size: 1.8rem;
}

.paragraph {
    margin: 10px 0px 10px 20px;
    font-size: 1rem;
}

.heading {
    font-size: 2rem;
    font-weight: bold;
    line-height: 3px;
}

.shop {
    background-color: #000000;
    height: 910px;
    width: 100%;
}

.section_title {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 100px;
}

.shop_content {
    justify-content: space-between;
    display: grid;
    margin: 75px 200px 75px 200px;
    grid-template-columns: auto auto auto;
}

.item {
    width: fit-content;
    height: fit-content;
}

.title2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #efaa31;
}

.item_image {
    display: block;
    clear: both;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 5%;
}

.info {
    background-color: #ffffff;
    height: 910px;
    width: 100%;
}

.contact {
    background-color: #ffffff;
    height: 910px;
    width: 100%;
}

footer {
    background-color: #000000;
}